service: arquitectura-docai

plugins:
  - serverless-prune-plugin
  - serverless-scriptable-plugin
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3005
    lambdaPort: 3006
    noPrependStageInUrl: true

  prune:
    automatic: true
    number: 5

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  role: arn:aws:iam::905418069528:role/LabRole
  cfnRole: arn:aws:iam::905418069528:role/LabRole


  environment:
    BUCKET: docai-pipeline-bucket-${sls:stage}
    DDB_TABLE: DocAiResults-${sls:stage}
    SNS_ISAPRE_ARN:
      Ref: IsapreTopic
    SNS_DOCAI_ARN:
      Ref: DocAiTopic
    DOCUMENT_AI_PROJECT_ID: river-lane-475622-h4
    DOCUMENT_AI_LOCATION: us
    DOCUMENT_AI_PROCESSOR_ID: b9319e0d7e047ae5
    DOCUMENT_AI_PROCESSOR_VERSION_ID: pretrained-foundation-model-v1.5.1-2025-08-07

functions:
  # 1️⃣ Subida de bono (opcional si la subida no viene desde API Gateway)
  uploadHandler:
    handler: src/handlers/uploadHandler.main
    events:
      - http:
          path: upload
          method: post
          cors: true

  # 2️⃣ Procesamiento con Google Document AI
  processDocAi:
    handler: src/handlers/processDocAi.main
    timeout: 60
    memorySize: 512
    events:
      - s3:
          bucket: ${self:provider.environment.BUCKET}
          event: s3:ObjectCreated:*
          existing: true

  # 3️⃣ Guarda el resultado en DynamoDB
  saveResults:
    handler: src/handlers/saveResults.main
    events:
      - sns:
          arn: ${self:provider.environment.SNS_DOCAI_ARN}
          topicName: DocAiTopic

  # 4️⃣ Validación y envío de datos a ISAPRE
  validateIsapre:
    handler: src/handlers/validateIsapre.main
    events:
      - sns:
          arn: ${self:provider.environment.SNS_ISAPRE_ARN}
          topicName: IsapreTopic

resources:
  Resources:
    DocAiTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: DocAiTopic
    IsapreTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: IsapreTopic
    DocAiResultsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DDB_TABLE}
        AttributeDefinitions:
          - AttributeName: Id
            AttributeType: S
        KeySchema:
          - AttributeName: Id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    DocAiBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BUCKET}
